@model THA.Domain.Result
@{
    ViewData["Title"] = "Home Page";
}
    <div class="col-md-5">
        <div class="col-md-12 text-center">
            <h1><b>Instruções em vídeo</b></h1>
            <div class="text-center">
                <iframe width="100%" height="200px" src="https://www.youtube.com/embed/LK1TvhUeeLo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <h1><b>Apoio</b></h1>
            <a href="https://www.twitch.tv/m3ndigato" target="_blank">
                <img src="~/images/mendigato.jpg" class="img-responsive" />
            </a>
        </div>
    </div>
    <div class="col-md-7 calcular">
        @using (Html.BeginForm("SaveResult", "Home", FormMethod.Post))
        {
        <div class="text-center">
            <h1><b>Instruções</b></h1>
            <h3>Copiar a mensagem completa do analyser enviado para você por outro usuário, junto com o nome da pessoa que enviou, colar aqui e seja feliz.</h3>
        </div>
                <div class="form-group">
                    <b>Player 1</b>
                    @Html.TextBoxFor(model => model.FirstAnalysers.Message, string.Empty, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <b>Player 2</b>
                    @Html.TextBoxFor(model => model.SecondAnalysers.Message, string.Empty, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <b>Player 3</b>
                    @Html.TextBoxFor(model => model.ThirdAnalysers.Message, string.Empty, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <b>Player 4</b>
                    @Html.TextBoxFor(model => model.FourthAnalysers.Message, string.Empty, new { @class = "form-control" })
                </div>
                <center>
                    <input type="submit" class="btn btn-success" value="Calcular" />
                </center>
        }
    </div>


